

<div class="wrapper">

    <div class="searchBar">
        <form style="width: 90%;">
            <img class="searchImg" src="../../../assets/search.png"/>
            <mat-form-field style="width: 90%;">
              <input type="email" matInput name="searchDot" 
              placeholder=" Search for any dot"  
              [(ngModel)]="searchFilter"  (ngModelChange)="valuechange($event)"/>
            </mat-form-field>
        </form>

        <button mat-mini-fab (click)="openDialog()" 
                style="background-color: #00365c; margin-top: 1.5%; margin-right: 2%;">
            <mat-icon >add</mat-icon>
        </button>
    </div>

    <div class="viewData">
        <table class="table" style="direction: rtl;">
            <thead style="color: #1c2b3a; text-align: center;">
                <th>#</th>
                <th>שם נקודה</th>
                <th>מחובר?</th>
                <th>קומה</th>
                <th>מספר חדר</th>
                <th>vlan</th>
                <th>מערכת</th>
                <th>שם המתג</th>
                <th>כתובת IP</th>
                <th>סוג המתג</th>
                <th>פורט</th>
                <th>אפשרויות</th>
            </thead>

            <tbody>
                <tr *ngFor="let dot of tempData ; let i = index" style="text-align: center;">
                    <td style="color: #00365c;">{{dot.dotId}}</td>
                    <td>{{dot.dotWallName}}</td>
                    <td *ngIf="dot.isConnected">
                        <i class="material-icons" style="color: green;">done</i>
                    </td>
                    <td *ngIf="!dot.isConnected">
                        <i class="material-icons" style="color: red;">close</i>
                    </td>
                    <td>{{dot.floor.floorName}}</td>
                    <td>{{dot.room}}</td>
                    <td>{{dot.vlan}}</td>
                    <td>{{dot.system.systemName}}</td>
                    <td>{{dot.switch.switchName}}</td>
                    <td>{{dot.switch.ipAddress}}</td>
                    <td>{{dot.switch.switchType.type}}</td>
                    <td>{{dot.connectedToPort}}</td>
                    <th>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon style="color: #00365c;">more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item class="customBtnMenu" (click)="editDot(dot)">
                                <span>עריכה</span>
                                <mat-icon class="customMatMenuIcon" style="color: green">edit</mat-icon>
                            </button>
                            <button mat-menu-item class="customBtnMenu" (click)="deleteDot(dot.dotId)">
                                <span>מחיקה</span>
                                <mat-icon class="customMatMenuIcon" style="color:red;">delete</mat-icon>
                            </button>
                        </mat-menu>
                    </th>
                </tr>
            </tbody>

        </table>
    </div>

</div>