.container {
    max-width: 100% !important;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    height: 100vh;
    display: flex;
    flex-direction: row;
}