
<div class="container">
    <div class="title">
        Habsan
    </div>

    <div class="dataView">
        <div class="sideMenu">
            <label class="label first" (click)="changeView('dotsComponets')"> 
                <p> Dots </p>
            </label>

            <label class="label"> 
                <p>Events</p> 
            </label>

            <label class="label"> 
                <p>Test1</p> 
            </label>
        </div>
        
        <div class="tableView" *ngIf="isConnected == ture">
            <router-outlet></router-outlet>
        </div>

        <div class="tableView" *ngIf="isConnected == false">
            <div>The Server is down</div>
        </div>
    </div>

</div>
